{% extends "main.html" %}

{% block PageTitle %}
    Latest Data
{% endblock %}

{% block datablock %}
    class="active"
{% endblock %}

{% block Title %}
Browse data
{% endblock %}

{% block body %}

      <!-- Table containing the list of months -->
      <div>
      <ul class="table">
        <li> <a href="/data" {% if request.path == "/data/" %} class="active" {%else%} class="navigator_link" {%endif%}> Latest Data </a> </li>
        {%for item in months%}
            <li>
              <a href='{{item.url}}'  {% if item.url in request.path%} class="active" {%else%} class="navigator_link" {%endif%}> {{item.text}} </a>
            </li>
        {%endfor%}
      </ul>
      </div>

      <!-- The page title, with links to the previous and next page -->
      <div class="DataTitle" >
        {% if PrevNext != None %}
            <a href="/data/{{PrevNext[0]}}"> <img src="/static/back.png"> </a>
        {% endif %}
        <h1 style=""> {{DataTitle}} </h1>
        {% if PrevNext != None %}
            {% if PrevNext[1] != None %}
                <a href="/data/{{PrevNext[1]}}"> <img src="/static/next.png"> </a>
            {% else %}
                <img style="opacity: 0.2;" src="/static/next.png">
            {%endif%}
        {% endif %}
      </div>

      <!-- The calendar (if we're on date view) -->
      {%if calendar is defined %}
          <div class="data">
          <table>
            <tr>
              <td class="day_header"> Mon </td>
              <td class="day_header"> Tue </td>
              <td class="day_header"> Wed </td>
              <td class="day_header"> Thu </td>
              <td class="day_header"> Fri </td>
              <td class="day_header"> Sat </td>
              <td class="day_header"> Sun </td>
            </tr>
          {% for week in calendar %}
            <tr>
              {%for day in week %}
                {% if day.active == 1 %}
                    <td class="td_active"> <a href="{{day.url}}">{{day.text}}  </a></td>
                {% else %}
                    <td class="td_inactive"> {{day.text}} </td>
                {% endif %}
              {%endfor%}
            </tr>
          {%endfor%}
          </table>
          <p></p>
          <p></p>
          </div>
      {%endif%}


      {%if data != None %}
          <div class="data">

              {% for item in data %}

                  <h2> {{item.variable}}</h2>
                  {% if item.age is defined %}
                  <p> Last reading taken approximately {{item.age}} ago</p>
                  {% endif %}

                  <p> Mean = {{item.mean}} {{item.unit}}</p>
                  <p> Median = {{item.median}} {{item.unit}}</p>
                  <p> Maximum = {{item.maxval}} {{item.unit}}</p>
                  <p> Minimum = {{item.minval}} {{item.unit}}</p>
                  <p> <img src='{{item.plot}}'> </p>
              
              {% endfor %}

          </div>

      {%endif%}


      <!-- If there is no data we display the "no data available" message -->
      {% if (data == None)  %}
      <div class="data">
        <h1 style="text-align: center;"> No data available </h1>
      </div>
      {%endif%}


{%endblock%}
