<html>
    <head>

        <title>{% block PageTitle %} {% endblock %}</title>

        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>

        <div class="navigator_container">

            <ul class="navigator_list">

                <li> <a {%block homeblock%} class="navigator_link" {%endblock%} href="/"> Home </a> </li>

                <li><a {%block statusblock%} class="navigator_link"{%endblock%} href="/status"> Status </a> </li>

                <li><a {%block fileblock%}class="navigator_link" {%endblock%} href="/files"> File Browser </a> </li>

                <li> <a {%block datablock%} class="navigator_link"{%endblock%} href="/data"> Data </a> </li>

                <li> <a {%block dbblock%} class="navigator_link"{%endblock%} href="/db"> Database </a> </li>

                <li class="Hostname"> {{hostname}}  </li>

            </ul>

        </div>

        <div class="content">
            {% block body %}

            {% endblock %}
        </div>

    </body>
</html>
