:root{
  --dark-colour:  #373E40;
  --highlight-colour: #68EDC6;
  --hostname-colour: #305252;

  /* --highlight-colour: #3C8DBC; */

}

body {
  background-color: White;
  margin: 0;
  padding: 0;
}

/* general style for tables */
table{
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}


/* navigator bar at top */
.navigator_container{
    width: 100%;
    background-color: var(--dark-colour);
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1
}

/* container for the navigator list */
.navigator_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Items of the navigator list */
.navigator_list li{
  float: left;
}

/* The special hostname list item */
.navigator_list li.hostname{
  float: right;
  color: white;
  background-color: var(--hostname-colour);
  padding: 1pc 1pc;
}

/* a link in the navigator list */
.navigator_link{
    display: block;
    text-decoration: none;
    padding: 1pc 1pc;
    color: White;
}

.navigator_link:visited{
  color: white;
}

.navigator_link:hover{
    background-color: var(--highlight-colour);
    color: Black;
}


.active_navigator{
    background-color: var(--highlight-colour);
    color: Black;
    display: block;
    text-decoration: none;
    padding: 1pc 1pc;
}

.active_navigator:visited{
    color: Black;
}


/* Style for the content (e.g. the part of the page where the content is displayed */
.content{
    margin: auto;
    padding: 4pc 1pc;
}

h1{
  text-align: center;
  margin: 1pc 2pc;
}

h2{
  margin: 0.5pc
}


/* Style for fixed-width fonts */
pre {
  background-color: LightGrey;
  color: Black;
  margin: 1pc;
  padding: 1pc;
  background-color: var(--dark-colour);
  color: var(--highlight-colour);
  color: white;
}


/* Title for the data page */
.DataTitle {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0pc 1pc;
  }

/* style for divs for displaying data */
.datacontent{
  margin: 0pc 1pc;
  padding-top: 0;
  text-align: center;
  overflow: auto;
}

/* The panel on the LHS for showing the months with data */
.monthlist {
  float:left;
  background: var(--dark-colour);
  color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* day header for calendar */
table td.day_header{
  background-color: var(--dark-colour);
  color: white;
  padding: 1pc;
  width: 2pc;
}

/* calendar item if we have data for this day */
table td.td_active{
  background: #E7ECEF;
  color: Black;
  padding: 0;
  margin: 0;
}

/* calendar item if we have not data for that day */
table td.td_inactive{
  background: #E7ECEF;
  color: LightGrey;
  margin: 0;
  /* Need the below lines to ensure these are the same as the td a{} */
  padding: 1pc;
  width: 2pc;
}

/* For a link in a table */
td a{
  text-decoration: none;
  color: Black;
  display: block;
  padding: 1pc;
}

td a:visited{
  color: Black;
}

td a:hover{
  background: var(--highlight-colour);
  color: black;
}


/* File browser table colours */
.fgrey {
  background-color: #E7ECEF;
  padding: 0.25pc;
  margin: 0px;
}

.fgrey:hover{
  background-color: var(--highlight-colour);
}

.fwhite {
  padding: 0.25pc;
  margin: 0px;
}

.fwhite:hover{
  background-color: var(--highlight-colour);
}

a.FileLink {
  text-decoration: None;
  color: Black;
  display: block;
}

a.dirlink {
  text-decoration: none;
  color: #305252;
  color: Black;
}

a.dirlink:hover{
  color: #305252;
}



/* Database table formatting */
table.dbtable{
  border-collapse: collapse;
}

th.dbtitle{
  padding: 10px;
}

th.dbtable{
  padding: 5px;
  text-align: left;
  margin: 0;
}

td.dbtable{
  padding: 5px;
  margin: 0;
  text-align: left;
}