body {
  background-color: White;
  margin: 0;
  padding: 0;
}

a:visited {
  color: Blue
}

.body{
    margin: 0;
    padding: 0;
}

.navigator_container{
    width: 100%;
    background-color: #373E40;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1

}

.navigator_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigator_list li{
  float: left;
}

.navigator_list li.hostname{
  float: right;
  color: white;
  background-color: #305252;
  padding: 1pc 1pc;
}

.navigator_link{
    display: block;
    text-decoration: none;
    padding: 1pc 1pc;
    color: White;
}


.active{
    background-color: #68EDC6;
    color: Black;
    display: block;
    text-decoration: none;
    padding: 1pc 1pc;
}

.active:visited{
    color: Black;
}

.navigator_link:visited{
  color: white;
}

.navigator_link:hover{
    background-color: #68EDC6;
    color: Black;
}



.body{
    margin: auto;
    padding: 4pc 1pc;
}


h1{
  text-align: center;
  margin: 1pc 2pc;
}

h2{
  margin: 0.5pc
}

pre {
  background-color: LightGrey;
  color: Black;
  margin: 1pc;
  padding: 1pc;
  background-color: #373E40;
  color: #68EDC6;
}


.data{
  margin: 0pc 1pc;
  padding-top: 0;
  text-align: center;
  overflow: auto;

}

table{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table td{
  padding: 1pc;
  width: 2pc;
  background: White;
  background: #E7ECEF;
  color: LightGrey;
}

table td.day_header{
  background-color: Green;
  background-color: #373E40;
  color: white;
}

table td.td_active{
  background: rgb(34,45,50);
  background: #E7ECEF;
  color: Black;
  padding: 0;
  margin: 0;
}

td a{
  text-decoration: none;
  color: Black;
  display: block;
  padding: 1pc;
}

td a:visited{
  color: Black;
}

td a:hover{
  background: LightGreen;
  background: #68EDC6;
  color: black;
}



.table {
    float:left;
    background:rgb(34,45,50);
    background: #373E40;
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.table_header{
  background-color: Green;
  padding: 1pc 1pc;
}


.DataTitle {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0pc 1pc;
}


.header {
  background-color: Navy;
  color: White;
  display: flex;
  margin: 0px;
  padding: 0pc 0pc;
   position: relative;
  float: right;
}



.box{
  margin: 0;
}

.boxlink{
  color: white;
  text-decoration: None;
  padding: 1pc;
  position: relative;
  float: left;
}

.rightbox{
  padding: 1pc;
  margin: 0pc;
  text-align: right;
  float: right;
  color: White;
  background: Black;
  position: relative;
}

.boxlink:visited{
  color: White;
}

.boxlink:hover{
  background: DodgerBlue;
  color: Black;
}

.header_box a {
  color: White;
}



/* File browser table colours */
.fgrey {
  background-color: AliceBlue;
  background-color: LightCyan;
  background-color: rgb(224,255,224);
  background-color: #E7ECEF;
  padding: 0.25pc;
  margin: 0px;
}

.fgrey:hover{
  background-color: #68edc6;
}

.fwhite {
  padding: 0.25pc;
  margin: 0px;

}

.fwhite:hover{
  background-color: #68edc6;
}

a.FileLink {
  text-decoration: None;
  color: Black;
  display: block;
}

a.dirlink {
  text-decoration: none;
  color: #305252;
  color: Black;
}

a.dirlink:hover{
  color: #305252;
}
